@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --main-text-color: #E5E4DF;
  --secondary-text-color: #C4C3BE;

  --main-background-color: #262626;
  --secondary-background-color: #424242;
  --tertiary-color: #535353;

  /* --main-background-color: #222629;
  --secondary-background-color: #2C3237;
  --tertiary-color: #2C3337; */
}

body {
  font-family: var(--font-roboto);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/* Set fade in effect for body */
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.portfolio {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg,
  var(--main-text-color) 0%,
  var(--tertiary-color) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.25rem;
  color: var(--main-text-color);
  font-family: var(--font-raleway);
}

/* General styling for navigation links */
.nav-links a {
  text-decoration: none;
  color: var(--main-text-color); /* Set the color you prefer for the links */
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-right: 20px; /* Add margin between links */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Style for navigation links on hover */
.nav-links a:hover {
  color: var(--secondary-text-color); /* Change the color on hover */
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.venture-card {
  width: 460px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.venture-card div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: var(--main-text-color);
}

.venture-card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.venture-card div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.venture-card div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.venture-card div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--secondary-background-color);
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.venture-card div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.venture-card div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: var(--main-text-color);
}

.venture-card:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.venture-card:hover div:nth-of-type(3) {
  background-color: transparent;
}

.venture-card:hover div:nth-of-type(1) {
  opacity: 1;
}


/* Map Styling */
.leaflet-container {
  background: var(--main-background-color) !important; /* Set your desired background color */
}

/* Style for the marker cluster */
.leaflet-marker-icon.marker-cluster{
  background-color: var(--secondary-background-color); /* Set your desired background color */
  border-color: var(--main-background-color); /* Set your desired border color */
  color: var(--main-text-color); /* Set your desired text color */
}

/* Style for the marker cluster */
.marker-cluster-small div {
  background-color: var(--main-background-color) !important; /* Set your desired background color */
}

html body .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in 
{ 
  color: var(--main-text-color); 
  background-color: var(--secondary-background-color);
}

html body .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out 
{ 
  color: var(--main-text-color); 
  background-color: var(--secondary-background-color);
}

.leaflet-touch .leaflet-control-attribution
{ 
  color: var(--main-text-color)  !important; 
  background-color: var(--main-background-color)  !important;
}

@media screen and (max-width: 600px) {
  .portfolio {
    padding: 4rem 2rem;
  }
}


@media screen and (max-width: 400px) {
  .portfolio {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .container {
    margin-top: 2rem;
  }

  .venture-card {
    width: 100%;
    margin: 1rem;
  }
}